<footer class="site-footer h-card">
  <div class="wrapper" style='text-align: center'>
    <a href="https://greg.technology/">main site</a> •
    <a href="mailto:hi@greg.technology">e-mail</a>
  </div>
  <div class="wrapper" style='text-align: center; margin-top: 6px;'>
    i liked my time at the <a href="https://www.recurse.com/">recurse center</a> a lot, and worked on <a href="https://recurse.greg.technology/">many things</a> there.<br/>if you dig tech, you should apply.
  <div class="wrapper" style='text-align: center; margin-top: 6px;'>
    <a id="rc-ring-prev" href="https://ring.recurse.com/prev?id=2">&lt;&lt;&lt; prev</a> • <a id="rc-ring-home" data-rc-uuid="cc018fe3-8c02-4ca8-ade8-36cdc5a5561d" href="https://ring.recurse.com/">the recurse webring</a> • <a id="rc-ring-next" href="https://ring.recurse.com/next?id=2">next &gt;&gt;&gt;</a>
  </div>
</footer>
