<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <style>
    .site-header {
      border: 0;
    }
    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  </style>
  <script src="/assets/capitalize/capitalize.js" ></script>
  <script data-goatcounter="https://gregtechnology.goatcounter.com/count"
          async src="//gc.zgo.at/count.js"></script>

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
  </body>

</html>